@model Movieshop.Entities.Movie

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Are You Shure You Want To DELETE This Movie?</h2>
            <hr />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProducerName)</th>
                    <td>@Html.DisplayFor(model => model.ProducerName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ActersName)</th>
                    <td>@Html.DisplayFor(model => model.ActersName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Realise)</th>
                    <td>@Html.DisplayFor(model => model.Realise)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TimeLast)</th>
                    <td>@Html.DisplayFor(model => model.TimeLast)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                    <td>@Html.DisplayFor(model => model.CategoryName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Language)</th>
                    <td>@Html.DisplayFor(model => model.Language)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Country)</th>
                    <td>@Html.DisplayFor(model => model.Country)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.GenreName)</th>
                    <td>@Html.DisplayFor(model => model.GenreName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductionName)</th>
                    <td>@Html.DisplayFor(model => model.ProducerName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Awards)</th>
                    <td>@Html.DisplayFor(model => model.Awards)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <td></td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Rating)</th>
                    <td>@Html.DisplayFor(model => model.Rating)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DateAdded)</th>
                    <td>@Html.DisplayFor(model => model.DateAdded)</td>
                </tr>
            </table>
        </div>
    </div>
    <form asp-action="DeleteComfirmed">
        <div class="row mt-12">
            <div class="col-2">
                <input type="submit" asp-action="Delete" class="btn btn-danger" value="DELETE " />
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-12">
        <a asp-action="Index">Back to List</a>
    </div>
</div>