@model Movieshop.Areas.Identity.UserModel

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Are you sure you want to delete this user?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                    <td>@Html.DisplayFor(model => model.RoleName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
            </table>
            <form asp-action="Delete">
                <div class="row">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" class="btn btn-danger mr-5" value="DELETE" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
